#navbar {

    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color-transparent;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ;

    .logo {
        width: 15%;

        a {
            display: flex;
            align-items: center;
            @include styleText($fs-5, $fw-9, $color-transparent);
            @include styleGradient(to right, ($color-light-1 0%,
                    $color-light-1 50%, $color-light-2 100%));
            background-size: 200%;
            background-clip: text;
            font-family: 'Merienda', cursive;
            transition: all 0.5s;

            span {
                @include styleText($fs-4,
                    $fw-9,
                    $color-transparent);
                font-family: 'Merienda', cursive;
                transition: all 0.5s
            }

            &:hover {
                background-position: center right;
            }

        }
    }

    .menu_mobile {
        display: none;
        margin: 15px 0;

        a {
            border: none;

            i {
                @include styleText($fs-1, none, $color-light-2)
            }
        }
    }

    .menu {
        line-height: 40px;
        width: 50%;

        ul {
            display: flex;
            width: 100%;
            justify-content: center;

            li.menu_item {
                margin: 15px;
                padding: 0 10px;
                position: relative;

                a {
                    position: relative;
                    @include styleText($fs-1, $fw-5, $color-light-1);
                    transition: all 1s;
                }

                &::before {
                    content: "";
                    width: 0;
                    height: 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $color-light-2;
                    border-radius: 5px;
                }

                &:hover {
                    &::before {
                        width: 100%;
                        height: 100%;
                        animation: menu_item 0.5s;
                    }

                    a {
                        @include styleText($fs-1, $fw-5, $color-light-1);
                    }
                }
            }

            li.menu_item.active {
                &::before {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    &::before {
                        animation: none;
                    }
                }
            }
        }
    }

    .account {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 15%;
        position: relative;
        align-content: center;

        .login {
            a {
                text-align: center;
            }

            z-index: 1;
            transition: all 0.5s;
        }

        .info {
            a:first-child {
                text-align: center;
            }

            z-index: 1;
            transition: all 0.5s;
        }

        .sign_out {
            z-index: 0;
            display: none;
            transform: translateX();

            i {
                color: $color-light-2;
            }
        }

        &:hover {
            .info {
                background-color: $color-light-2;

                a {
                    @include styleText($fs-3, $fw-7, $color-light-1)
                }
            }

            .sign_out {
                display: block;
                visibility: visible;
                animation: sign_out 0.5s;
                transform: translateX(50%);
            }
        }

    }
}

#navbar.sticky_navbar {
    ~*::-webkit-scrollbar{
        display: block;
    }
    background: $color-light-1;
    box-shadow:0 2px 24px 0 rgba(0, 0, 0, .15);

    .logo {
        a {
            @include styleGradient(to right, ($color-light-2 0%,
                    $color-light-2 50%, $color-light-3 100%));
            background-clip: text;

        }
    }

    .menu {
        ul {
            li.menu_item {
                a {
                    color: $color-dark-1;
                }

                &:hover {
                    a {
                        color: $color-light-1
                    }
                }
            }

            li.menu_item.active {
                a {
                        color: $color-light-1;
                    }
            }
        }
    }
}

@include responsive("extra-large") {
    #navbar {
        .logo {
            width: 15%;

            a {
                @include styleText($fs-4, $fw-9, $color-transparent);

                span {
                    @include styleText($fs-2,
                        $fw-9,
                        $color-transparent);
                }
            }
        }

        .menu {
            ul {
                li.menu_item {
                    a {
                        @include styleText($fs-1, $fw-5, $color-light-1);
                    }
                }
            }

            width: 45%;
            line-height: 30px;
        }

        .account {
            width: 20%;

            .login,
            .info {
                padding: 0.3rem 0.8rem;
            }
        }
    }
}

@include responsive("large") {
    #navbar {
        .logo {
            width: 17%;

            a {
                @include styleText($fs-4, $fw-9, $color-transparent);

                span {
                    @include styleText($fs-2,
                        $fw-9,
                        $color-transparent);
                }
            }
        }

        .menu {
            ul {
                li.menu_item {
                    a {
                        @include styleText($fs-1, $fw-5, $color-light-1);
                    }
                }
            }

            width: 48%;
            line-height: 30px;
        }

        .account {
            width: 15%;

            .login,
            .info {
                a {
                    font-size: $fs-1;
                }

                padding: 0.3rem 0.8rem;
            }
        }
    }
}

@include responsive("medium") {
    #navbar {
        flex-wrap: wrap;
        list-style: 30px;

        .logo {
            width: 25%;

            a {
                @include styleText($fs-4, $fw-9, $color-transparent);

                span {
                    @include styleText($fs-1,
                        $fw-9,
                        $color-transparent);
                }
            }
        }

        .menu_mobile {
            display: block;
            width: 55%;
            text-align: right;
        }

        .menu {
            background-color: $color-light-1;
            order: 2;
            width: 100%;
            display: none;

            ul {
                flex-direction: column;
                justify-content: center;

                li.menu_item {
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;

                    a {
                        color: $color-dark-1;
                    }
                }
            }
        }

        .menu.show {
            display: block;
        }

        .account {
            background-color: $color-light-1;
            width: 100%;
            display: none;
            order: 1;
            justify-content: center;


            .login,
            .info {
                width: fit-content;
                padding: 0.3rem 0.8rem;

                .sign_out {
                    display: none;
                }
            }

            &:hover {
                .sign_out {
                    display: block;
                }
            }

        }

        .account.show {
            display: flex;
        }
    }
}

@include responsive("extra-small") {
    #navbar {
        .logo {
            width: 45%;
        }

        .menu_mobile {
            width: 35%;
        }
    }
}