.input_1 {
    padding: $pd-1 $pd-4;
    @include styleText($fs-2, $fw-7, $color-dark-2);
    border-radius: 20px;
    background: $color-light-7;
    outline: 0;
    border: none;
    transition: all 0.5s;

    &::placeholder {
        @include styleText($fs-1, $fw-5, $color-dark-2);
    }

    &:focus {
        box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.127);

    }
}

.input_login {
    padding: $pd-1 $pd-4;
    @include styleText($fs-2, $fw-7, $color-dark-2);
    border-radius: 10px;
    background: $color-light-7;
    outline: 0;
    border: none;
    transition: all 0.5s;

    &:focus {
        box-shadow: 0 0 7px 4px rgba(255, 255, 255, 0.127);

    }

    &::placeholder {
        @include styleText($fs-1, $fw-5, $color-dark-2);
    }
}