#banner {
    background: linear-gradient(to bottom, rgba(3, 15, 39, 0.542), rgb(0, 0, 0)), url(../../../../../images/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
        margin: auto;
    .banner_content {
        margin: auto;
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        div.banner_main {
            overflow: hidden;

            h1 {
                display: block;
                @include styleGradient(to right, ($color-light-4 0%, $color-light-5 100%));
                margin: 30px;
                text-align: center;
                background-clip: text;
                @include styleText($fs-8, $fw-9, $color-transparent);
                animation: banner_main 2s;
                animation-iteration-count: 1;
            }
        }

        div.banner_hr {
            @include styleGradient(to right, ($color-light-4 0%, $color-light-5 100%));
            background-clip: content-box;
            width: 100%;
            border-radius: 2.5px;
            animation: banner_hr 1s;
            animation-iteration-count: 1;

            hr {
                margin: 0;
                width: 100%;
                height: 5px;
                color: $color-transparent;
            }
        }

        div.banner_extra {
            margin: 30px 0;

            div {
                overflow: hidden;

                p {
                    display: block;
                    @include styleText($fs-4, $fw-5, $color-light-1);
                    text-align: center;
                    animation-iteration-count: 1;

                    span {
                        @include styleText($fs-3, $fw-9, $color-transparent);
                        @include styleGradient(to right, ($color-light-2 0%,
                                $color-light-2 50%, $color-light-3 100%));
                        background-size: 200%;
                        background-clip: text;
                        font-family: 'Merienda', cursive;
                    }
                }
            }

            div:first-child {
                p {
                    animation: banner_extra 3s;
                }
            }

            div:nth-of-type(2) {
                p {
                    animation: banner_extra_2 3s;
                }
            }
        }

        div.banner_button {
            animation: banner_button 5s;
            margin: 30px;
            text-align: center;
        }
    }

    div.banner_arrow {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        p {
            @include styleGradient(to bottom,
                (#47474735 30%,#cbcbcb 50%,#47474735 50%));
            background-size: auto 250%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-clip: text;
            animation: banner_arrow 2s linear infinite;

            i {
                @include styleText($fs-4, none, $color-transparent);
                line-height: 1rem;
            }
        }
    }
}

@include responsive("extra-large") {
    #banner {
        .banner_content {
            div.banner_main {
                h1 {
                    @include styleText($fs-7, $fw-9, $color-transparent);
                }
            }

            div.banner_extra {
                div {
                    p {
                        @include styleText($fs-2, $fw-5, $color-light-1);
                    }
                }
            }

            div.banner_button {
                .btn-light-1 {
                    padding: 0.3rem 0.8rem;
                }
            }
        }
    }
}

@include responsive("large") {
    #banner {
        .banner_content {
            width: 70%;

            div.banner_main {
                h1 {
                    margin: 0 0 20px;
                    @include styleText(calc($fs-6), $fw-9, $color-transparent);
                }
            }

            div.banner_extra {
                margin: 30px 0;

                div {
                    p {
                        @include styleText($fs-2, $fw-5, $color-light-1);
                    }
                }
            }

            div.banner_button {
                animation: banner_button 5s;
                margin: 30px;
                text-align: center;

                .btn-light-1 {
                    padding: 0.3rem 0.8rem;

                    a {
                        font-size: $fs-1;
                    }
                }
            }
        }
    }
}

@include responsive("medium") {
    #banner {
        // height: vh;
        .banner_content {
            width: 70%;

            div.banner_main {
                h1 {
                    margin: 0 0 20px;
                    @include styleText(calc($fs-6 - 0.3rem), $fw-9, $color-transparent);
                }
            }

            div.banner_extra {
                margin: 10px 0;

                div {
                    p {
                        @include styleText($fs-1, $fw-5, $color-light-1);
                    }
                }
            }
        }
    }
}

@include responsive("extra-small") {
    #banner {
        .banner_content {
            div.banner_main {
                h1 {
                    @include styleText($fs-5, $fw-8, $color-transparent);
                }
            }

            div.banner_extra {
                div {
                    p {
                        @include styleText($fs-1, $fw-5, $color-light-1);
                    }
                }
            }

            div.banner_button {
                .btn-light-1 {
                    padding: 0.3rem 0.8rem;
                }
            }
        }
    }
}

